* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

.header {
    width: 100vw;
    height: 100vh;
    background-color: orange;
}